curl --request POST \
  --url 'http://{{ ansible_default_ipv4.address }}:5601/api/fleet/agent_policies?sys_monitoring=true' \
  --header 'kbn-xsrf: true' \
  --header 'Accept: */*' \
  --header 'Authorization: Basic {{ lookup('file', './kibana_auth') }}' \
  --header 'Content-Type: application/json' \
  --data '{
    "id": "fleet-server-policy",
    "name": "Fleet Server Policy",
    "namespace": "default",
    "description": "Policy for Fleet Server",
    "is_default_fleet_server": true
  }'
