curl -u elastic:{{ lookup('file', './password_result') }} --request POST \
  --url http://{{ ansible_default_ipv4.address }}:5601/api/fleet/agent_policies \
  --header 'kbn-xsrf: true' \
  --header 'Content-Type: application/json' \
  --data '{
    "name": "Fleet Server Policy",
    "namespace": "default",
    "description": "Policy for managing Fleet Server on node1",
    "monitoring_enabled": [],   # No logs/metrics for Fleet Server itself
    "package_policies": [{
      "name": "fleet_server",
      "package": {
        "name": "fleet_server"
      }
    }]
  }'

