[zeek-logger]
type=logger
host={{ hostvars['node1']['ansible_default_ipv4']['address'] }}

[zeek-manager]
type=manager
host={{ hostvars['node1']['ansible_default_ipv4']['address'] }}

[zeek-proxy]
type=proxy
host={{ hostvars['node1']['ansible_default_ipv4']['address'] }}

[zeek-worker-control]
type=worker
host={{ hostvars['localhost']['ansible_host'] }}
interface=enp0s3

[zeek-worker-fleet]
type=worker
host={{ hostvars['node1']['ansible_default_ipv4']['address'] }}
interface=enp0s3

[zeek-worker-agent]
type=worker
host={{ hostvars['node2']['ansible_default_ipv4']['address'] }}
interface=enp0s3
